{% extends  'base.html' %}
{% load i18n %}

{% block title %} Profile list {% endblock %}

{% block section_header %}
    <h2>{% trans 'Profile List' %}</h2>
{% endblock %}


{% block content%}

    {%if is_seeker %}
        <form action="{% url 'seeker-list' %}" method="POST">
            {% include 'navigation/search_form.html' with form=form %}
        </form>
    {% endif %}
    <section class="section-box green">
        <div class="inner candidate-list">
        {% if users %}
            {% for user in users %}
                {%if is_seeker %}
                    <div class="row">
                        <div class="data">
                            <h1>
                                <a href="{% url 'seeker-details' user.id %}">
                                    {{user.user.get_full_name | title}}
                                </a>
                                <span>({{user.experience_yrs}} Yrs. {{user.experience_month}} Month)</span>
                                <label class="data-row">
                                    <span class="bold">{{user.designation}} -</span><span>{{user.current_loc}}</span>
                                </label>
                            </h1>
                            <label class="data-row"><span class="bold">{% trans 'Known as' %}:</span>
                                <span>{{ user.profile_header }}</span>
                            </label>
                            <label class="data-row"><span class="bold">{% trans 'Key Skills' %}:</span>
                                <span>{{user.skill_set}}</span>
                            </label>
                            <label class="data-row"><span class="bold">{% trans 'Preferred location' %}:</span>
                                <span>{{user.preferred_loc}}</span>
                            </label>
                        </div>
                        {% if request.user.username %}
                            <a href="{% url 'seeker-details' user.id %}" class="view-btn">View Profile</a>
                        {% endif %}
                    </div>
                {% else %}
                    {% include 'accounts/profile/profile_recruiter.html' with profile=user %}
                {% endif %}
            {% endfor %}
        {% else %}
            No record found
        {% endif %}
        </div>
    </section>

    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page={{ users.previous_page_number }}" class="pagination-view-btn">previous</a>
            {% endif %}

            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>

            {% if jobs.has_next %}
                <a href="?page={{ users.next_page_number }}" class="pagination-view-btn">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}