{% load i18n %}

<footer>
    <div class="left-section">

        {% include 'navigation/nav.html' %}

        <div class="company-tieups">
            <label>{% trans 'Our Tie ups with:' %}</label>
            <a href="javascript:void(0);" title="Company Name">{% trans 'Company Name' %}</a>
            <a href="javascript:void(0);" title="Company Name">{% trans 'Company Name' %}</a>
            <a href="javascript:void(0);" title="Company Name">{% trans 'Company Name' %}</a>
        </div>
    </div>
    <div class="right-section">
        <div class="logo"></div>
        <span class="copyrights">{% trans 'Copyrights 2014-2015. All rights reserved.' %}</span>
        <div class="social-links">
            <label>{% trans 'Follow us on:' %}</label>
            <a href="javascript:void(0);" class="facebook" title="Facebook">{% trans 'Facebook' %}</a>
            <a href="javascript:void(0);" class="twitter" title="Twitter">{% trans 'Twitter' %}</a>
            <a href="javascript:void(0);" class="youtube" title="You Tube">{% trans 'You Tube' %}</a>
        </div>
    </div>
</footer>