{% load i18n account_tags %}

<header>
    <div class="logo"></div>

    {% include 'navigation/nav.html' %}

    {% if request.user.is_anonymous%}
        <a href="{% url 'registration_register' %}" title="Sign Up" class="account-btn">{% trans 'Sign Up' %}</a>
    {% else %}
        <a href="{% url 'profile' %}" title="Sign Up" class="account-btn dropdown">
            <img src="{{STATIC_URL}}images/user-icon.png" />
            <span>{% filter split:"@" %} {{ request.user.username }} {% endfilter %}</span>
        </a>
    {% endif %}
</header>