{% load i18n %}

<div id="logo" style="Width:100%; float:left;">
    <div style="width:70%; float:left;">
        Sanmati Solutions Pvt. ltd.
    </div>
    <div style="width:30%; float:right;">
        <span>
           {% if not request.user.is_authenticated %}
                <a href="{% url 'auth_login' %}"> {% trans "Login" %} </a>
           {% else %}
                <a href="{% url 'auth_logout' %}"> {% trans "Logout" %} </a>
           {%endif%}
        </span>|
        <span> <a href="#"> {% trans "Upload Resume" %} </a> </span>
    </div>
</div>

<div style="float:left; width:100%; padding-bottom:10px;">
    <span> <a href="{% url 'home' %}">{% trans "Home" %}</a> </span> |
    <span><a href="#">{% trans "About Us" %}</a></span> | <span><a href="#">{% trans "Contact Us" %}</a></span>
</div>