{% load i18n %}

<header>
    <div class="logo"></div>
    <nav>
        <a href="{% url 'home' %}" title="Home" class="selected">{% trans 'Home' %}</a>
        <a href="javascript:void(0);" title="About Us">{% trans 'About Us' %}</a>
        <a href="javascript:void(0);" title="Contact Us">{% trans 'Contact Us' %}</a>
        {% if request.user.is_anonymous%}
            <a href="{% url 'auth_login' %}" title="Home">{% trans 'Login' %}</a>
        {% else %}
            <a href="{% url 'auth_logout' %}" title="Home">{% trans 'Logout' %}</a>
        {% endif %}
    </nav>
    <a href="{% url 'registration_register' %}" title="Sign Up" class="account-btn">{% trans 'Sign Up' %}</a>
</header>