{% load i18n %}

{% if not is_recruiter %}
    <span class="top-bar">{% trans 'Last updated on' %} {{profile.user.last_login}}</span>
{% endif %}

<section class="section-box purple">
    <div class="inner">
        <div class="profile-pic">
            {% if profile.profile_pic %}
                <img src="/users_files/{{profile.profile_pic}}" />
            {% else %}
                <img src="{{STATIC_URL}}images/user-profile-pic.png" />
            {% endif %}

            <label>
            {% if not is_recruiter %}
                <a href="{% url 'profile_edit' %}" title="Edit profile">{{profile.user.get_full_name}} </a>
            {% else %}
                {{profile.user.get_full_name}}
            {% endif %}
            </label>
        </div>
        <div class="basic-info">
            <div class="row">
                <label class="form-label">{% trans 'Mobile:' %}</label>
                <span class="form-label-value">{{profile.mobile_no}}</span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'Email:' %}</label>
                <span class="form-label-value">
                    <a href="mailto:{{profile.user.email}}">{{profile.user.email}}</a>
                </span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'Address:' %}</label>
                <span class="form-label-value">
                    {{profile.address.street}}
                </span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'City:' %}</label>
                <span class="form-label-value">{{profile.address.city}}</span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'Country:' %}</label>
                <span class="form-label-value">{{profile.address.country}}</span>
            </div>
        </div>
    </div>
</section>
<section class="section-box green">
    <h1>{% trans 'Education Background' %}</h1>
    <div class="inner">
        <div class="row">
            <label class="form-label">{% trans 'Qualification:' %}</label>
            <span class="form-label-value">
                {{ profile.qualification.qualification }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Name of Institute:' %}</label>
            <span class="form-label-value">
                {{ profile.qualification.institute_name }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Passing Year:' %}</label>
            <span class="form-label-value">
                {{ profile.qualification.year_of_passing }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Percentage:' %}</label>
            <span class="form-label-value">
                {{ profile.qualification.percentage }} %
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Special Achievement:' %}</label>
            <span class="form-label-value">
                {{ profile.qualification.special_achievement }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Website:' %}</label>
            <span class="form-label-value">
                {#{ profile.qualification.website }#}
            </span>
        </div>
    </div>
</section>
{% if profile.company_experience %}
    <section class="section-box orange">
        <h1>{% trans 'Company Details' %}</h1>
        <div class="inner">
            <div class="row">
                <label class="form-label">{% trans 'Name of Company:' %}</label>
                <span class="form-label-value">
                    {{ profile.company_experience.company.name }}
                </span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'Date of Joining:' %}</label>
                <span class="form-label-value">
                    {{ profile.company_experience.joining_date }}
                </span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'Current CTC:' %}</label>
                <span class="form-label-value">
                    {%if profile.company_experience.current_ctc_lac %}
                        {{ profile.company_experience.current_ctc_lac }} Lacks
                    {% endif %}

                    {%if profile.company_experience.current_ctc_thousand %}
                        {{ profile.company_experience.current_ctc_thousand }} Thousand
                    {% endif %}
                </span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'Notice Period:' %}</label>
                <span class="form-label-value">
                    {{ profile.company_experience.notice_period }} {% trans 'Days' %}
                </span>
            </div>
            <div class="row">
                <label class="form-label">{% trans 'Website:' %}</label>
                <span class="form-label-value">
                    {{ profile.company_experience.company.website }}
                </span>
            </div>
            {% if profile.company_experience.company.addres %}
                <div class="row">
                    <label class="form-label">{% trans 'Address:' %}</label>
                    <span class="form-label-value">
                        {{profile.company_experience.company.address.street}}
                    </span>
                </div>
                <div class="row">
                    <label class="form-label">{% trans 'City:' %}</label>
                    <span class="form-label-value">{{profile.company_experience.company.address.city}}</span>
                </div>
                <div class="row">
                    <label class="form-label">{% trans 'Country:' %}</label>
                    <span class="form-label-value">{{profile.company_experience.company.address.country}}</span>
                </div>
            {% endif %}
        </div>
    </section>
{% endif %}
<section class="section-box blue">
    <h1>{% trans 'Job Preference' %}</h1>
    <div class="inner">
        <div class="row">
            <label class="form-label">{% trans 'Profile Header:' %}</label>
            <span class="form-label-value">
                <b>{{profile.profile_header}}</b>
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Skills:' %}</label>
            <span class="form-label-value">
                {{ profile.skill_set }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Looking of switch:' %}</label>
            <span class="form-label-value">
                {{ profile.get_job_change }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Job Experience:' %}</label>
            <span class="form-label-value">
                {%if profile.experience_yrs %}{{ profile.experience_yrs }} Yrs {% endif %}
                {%if profile.experience_month %}{{ profile.experience_month }} Months {% endif %}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Salary Expectations:' %}</label>
            <span class="form-label-value">
                {%if profile.expected_ctc_lac %}{{ profile.expected_ctc_lac }} Lacks {% endif %}
                {%if profile.expected_ctc_thousand %}{{ profile.expected_ctc_thousand }} Thousand {% endif %}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Ready to relocate in India:' %}</label>
            <span class="form-label-value">
                {{ profile.get_relocate }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Preferred Location(s):' %}</label>
            <span class="form-label-value">
                {{ profile.preferred_loc }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Good Time to contact:' %}</label>
            <span class="form-label-value">
                {{ profile.free_time }}
            </span>
        </div>
        <div class="row">
            <label class="form-label">{% trans 'Updated Resume:' %}</label>
            <span class="form-label-value">
                <a href="{% url 'download_uuid_file' profile.file_uuid %}">
                    {{ profile.get_resume }}
                </a>
            </span>
        </div>
    </div>
</section>