{% extends  'base.html' %}
{% load i18n %}

{% block title %} Profile Detail {% endblock %}

{% block section_header %}
    {% trans 'User Profile' %}
{% endblock %}

{% block content%}

    {%if is_recruiter %}
        <form action="{% url 'seeker-list' %}" method="POST">
            {% include 'navigation/search_form.html' with form=form %}
        </form>

        <span class="top-bar actions">
            <a href="{% url 'seeker-list' %}">Back to candidates list</a>
            <div class="button-container toggle-btns">
                {%if not  interest %}
                    <input type="button" name="like_profile" id="like_profile"
                           onclick="update_job_status('{% url 'interesting-resume' profile_id %}')"
                           value="Like Profile" />
                {% else %}
                    <input type="button" name="unlike_profile" id="unlike_profile" value="Liked Profile" />
                {% endif %}
            </div>
        </span>

    {% endif %}

    {% include 'accounts/profile/profile_seeker.html' with profile=users is_recruiter=is_recruiter %}

{% endblock %}