{% extends  'base.html' %}
{% load i18n widget_tweaks %}

{% block title %}Resume Upload{% endblock %}

{% block section_header %}
    <h2>{% trans 'Upload Latest Resume' %}</h2>
{% endblock %}

{% block content%}
    <form action="{% url 'upload-resume' %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-layout single">
            <div class="row">
                <label class="mandatory">
                    {{form.resume.label}}
                </label>
                <div class="form-elements">
                    {{form.resume | attr:"required"}}
                </div><br/>
                <span class="form_error">
                    {{form.resume.errors.as_text}}
                </span>
            </div>

            <div class="button-container">
                <button type='submit' value="Submit"> {% trans 'Submit' %}</button>
                <input type='button' value="cancel" onclick="window.location.href='{% url 'home' %}';"/>
            </div>
        </div>
    </form>
{% endblock %}