{% extends "base.html" %}
{% load i18n static %}

{% block section_header %}
    {% include 'accounts/profile_edit_wizard/breadcrumbs.html' %}

    {% block registration_title %}
    {% endblock %}

{% endblock %}

{% block content %}
    {% block container %}
        <section>
            {% block form_part %}
                <form action="{% url 'profile_edit' %}" method="post" id="edit_after_registration_form"
                      enctype="multipart/form-data">
                    <div class="form-layout double">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {% block form_elements %}
                            {% if wizard.form.forms %}
                                {% for form in wizard.form.forms %}
                                    {{ form }}
                                {% endfor %}
                            {% else %}
                                {{ wizard.form }}
                            {% endif %}
                        {% endblock %}

                        <div id="id-main-btns" class="button-container">
                            {% if wizard.steps.prev %}
                                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="arrow-btn">
                                {% block prev-button %} {% endblock %}
                                </button>
                            {% endif %}

                            <button id="submit_button" type="submit" class="arrow-btn txt-red pull-right ">
                                {% block next-button %}{% endblock %}
                            </button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </section>
    {% endblock %}
{% endblock %}