{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}

{% block registration_title %}
    <h1 class="heading32">
        {% trans 'Registration' %}:<span class="txt-red">{% trans 'Account configuration' %}</span>
    </h1>
{% endblock %}



{% block form_part %}
    <section class="content-area edit-profile">
        <div class="form-container">
            <div class="success-message">
                <h1>Your profile has been updated successfully!</h1>
                 <a href="{% url 'profile' %}" class="arrow-btn txt-red pull-right ">
                    {% trans 'Go to <strong class="extra-bold">your account</strong>' %}
                 </a>
            </div>
        </div>
    </section>
{% endblock %}

{%block js %}
    <script>
        window.history.forward();
    </script>
{%endblock%}
