{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Complete Account configuration' %} {% endblock %}

{% block section_header %}
    <h2>{% trans 'Account configuration' %}</h2>
{% endblock %}

{% block form_part %}
    <section class="content-area edit-profile">
        <div class="form-container">
            <div class="success-message">
                <h1>Your profile has been updated successfully!</h1>
                 <a href="{% url 'profile' %}" class="arrow-btn txt-red pull-right ">
                    {% trans 'Go to <strong class="extra-bold">your account</strong>' %}
                 </a>
            </div>
        </div>
    </section>
{% endblock %}

{%block js %}
    <script>
        window.history.forward();
    </script>
{%endblock%}
