{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n widget_tweaks %}

{% block section_header %}
    <h1 class="heading32">
        <span class="txt-red">{% trans "Personal information" %}</span>
    </h1>
{% endblock %}

{% block form_elements %}

    {{ form.profile.management_form }}
    {{ form.address.management_form }}

    <div class="form-container">
        <div class="column-left">
            <label class="mandatory" id="{{form.profile.profile_pic.id_for_label}}">
                {{form.profile.profile_pic.label}}
            </label>
            <div class="form-elements display-pic">
                {{form.profile.profile_pic}}
                {{form.profile.profile_pic.errors.as_text}}
            </div>

            <!--<div class="form-elements display-pic">-->
                <!--<img src="{{ STATIC_URL }}images/user-profile-pic.png" />-->
                <!--<input type="button" value="Browse" class="browse-btn" />-->
            <!--</div>-->

            <label class="mandatory" id="{{form.profile.first_name.id_for_label}}">
                {{form.profile.first_name.label}}
            </label>
            <div class="form-elements">
                {{form.profile.first_name | attr:"placeholder:First Name" | attr:"required" | attr:"autocomplete:off" }}
                {{form.profile.first_name.errors.as_text}}
            </div>

            <label class="mandatory" id="{{form.profile.last_name.id_for_label}}">
                {{form.profile.last_name.label}}
            </label>
            <div class="form-elements">
                {{form.profile.last_name | attr:"placeholder:Last Name" | attr:"required" | attr:"autocomplete:off" }}
                {{form.profile.last_name.errors.as_text}}
            </div>
            <label class="mandatory" id="{{form.profile.mobile_no.id_for_label}}">
                {{form.profile.mobile_no.label}}
            </label>
            <div class="form-elements">
                {{form.profile.mobile_no | attr:"placeholder:+91-XXXXXXXXXX" | attr:"required" | attr:"autocomplete:off" }}
                {{form.profile.mobile_no.errors.as_text}}
            </div>
        </div>
        <div class="column-right">

            <label class="mandatory" id="{{form.address.street.id_for_label}}">
                Address
            </label>
            <div class="form-elements address">
                {{form.address.street | attr:"placeholder:Address" | attr:"required" | attr:"autocomplete:off" }}
                {{form.address.street.errors.as_text}}
            </div>

            <label class="mandatory" id="{{form.address.city.id_for_label}}">
                {{form.address.city.label}}:
            </label>
            <div class="form-elements">
                {{form.address.city | attr:"placeholder:City" | attr:"required" | attr:"autocomplete:off" }}
                {{form.address.city.errors.as_text}}
            </div>

            <!--<label class="mandatory">Country</label>-->
            <!--<div class="form-elements">-->
                <!--<select>-->
                    <!--<option>Select Country</option>-->
                <!--</select>-->
            <!--</div>-->

            <label class="mandatory" id="{{form.address.country.id_for_label}}">
                {{form.address.country.label}}
            </label>
            <div class="form-elements">
                {{form.address.country | attr:"placeholder:Country" | attr:"required" | attr:"autocomplete:off" }}
                {{form.address.country.errors.as_text}}
            </div>
        </div>
    </div>
{% endblock %}


{% block next-button %}
    {% if is_seeker %}
        {% trans 'Education Background >' %}
    {% else %}
        {% trans 'Company Info >' %}
    {% endif %}
{% endblock %}