{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}


{% block registration_title %}
    <h1 class="heading32">
        {% trans "Profile" %}: <span class="txt-red">{% trans "Professional Detail" %}</span>
    </h1>
{% endblock %}

{% block form_elements %}
    <div id="config_details" style="">
        <div style="padding:5px;">
            <label id="{{form.company.name.id_for_label}}">{{form.company.name.label}}:</label>
            {{form.company.name}}
            <div style="padding:5px;">{{form.company.name.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.company.website.id_for_label}}">{{form.company.website.label}}:</label>
            {{form.company.website}}
            <div style="padding:5px;">{{form.company.website.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.extra_info.joining_date.id_for_label}}">{{form.extra_info.joining_date.label}}:</label>
            {{form.extra_info.joining_date}}
            <div style="padding:5px;">{{form.extra_info.joining_date.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.extra_info.notice_period.id_for_label}}">{{form.extra_info.notice_period.label}}:</label>
            {{form.extra_info.notice_period}}
            <div style="padding:5px;">{{form.extra_info.notice_period.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.extra_info.current_ctc_lac.id_for_label}}">
                {{form.extra_info.current_ctc_lac.label}}:</label>
            {{form.extra_info.current_ctc_lac}}
            {{form.extra_info.current_ctc_thousand}}
            <div style="padding:5px;">
                {{form.extra_info.current_ctc_lac.errors.as_text}}
                {{form.extra_info.current_ctc_thousand.errors.as_text}}
            </div>
        </div>
    </div>

{% endblock %}

{% block prev-button %}
  {% blocktrans %}Education background{% endblocktrans %} <i class="left-arrowd"></i>
{% endblock %}


{% block next-button %}
  {% trans 'Company <strong class="extra-bold"> info </strong>' %}<i class="right-arrowred"></i>
{% endblock %}
