{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}


{% block registration_title %}
    <h1 class="heading32">
        {% trans "Profile" %}: <span class="txt-red">{% trans "Professional Detail" %}</span>
    </h1>
{% endblock %}

{% block form_elements %}

    <div class="row">
        <label class="mandatory" id="{{form.company.name.id_for_label}}">
            {{form.company.name.label}}:
        </label>
        <div class="form-elements">
            {{form.company.name}}
            {{form.company.name.errors.as_text}}
        </div>
        <label class="mandatory" id="{{form.extra_info.joining_date.id_for_label}}">
            {{form.extra_info.joining_date.label}}:
        </label>
        <div class="form-elements">
            {{form.extra_info.joining_date}}
            {{form.extra_info.joining_date.errors.as_text}}
        </div>
    </div>

    <div class="row">
        <label class="mandatory" id="{{form.company.website.id_for_label}}">
            {{form.company.website.label}}:
        </label>
        <div class="form-elements">
            {{form.company.website}}
            {{form.company.website.errors.as_text}}
        </div>
        <label class="mandatory" id="{{form.extra_info.notice_period.id_for_label}}">
            {{form.extra_info.notice_period.label}}:
        </label>
        <div class="form-elements">
            {{form.extra_info.notice_period}}
            {{form.extra_info.notice_period.errors.as_text}}
        </div>
    </div>

    <div class="row">
        <label class="mandatory" id="{{form.extra_info.current_ctc_lac.id_for_label}}">
            {{form.extra_info.current_ctc_lac.label}}:
        </label>
        <div class="form-elements">
            {{form.extra_info.current_ctc_lac}}
            {{form.extra_info.current_ctc_thousand}}

            {{form.extra_info.current_ctc_lac.errors.as_text}}
            {{form.extra_info.current_ctc_thousand.errors.as_text}}
        </div>
    </div>

{% endblock %}

{% block prev-button %}
  {% blocktrans %}Education background{% endblocktrans %} <i class="left-arrowd"></i>
{% endblock %}


{% block next-button %}
  {% trans 'Company <strong class="extra-bold"> info </strong>' %}<i class="right-arrowred"></i>
{% endblock %}
