{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}


{% block registration_title %}
    <h1 class="heading32">
        {% trans "Profile" %}: <span class="txt-red">{% trans "Recruiter Detail" %}</span>
    </h1>
{% endblock %}

{% block form_elements %}
        {{form.errors}}
    <div id="config_details" style="width:100%;">
        <div style="width: 50%; float:left;">
            <div style="padding:5px;">
                <label id="{{form.recruiter_info.company_email.id_for_label}}">
                    {{form.recruiter_info.company_email.label}}:</label>
                {{form.recruiter_info.company_email}}
                <div style="padding:5px;">{{form.recruiter_info.company_email.errors.as_text}}</div>
            </div>
            <div style="padding:5px;">
                <label id="{{form.company.name.id_for_label}}">{{form.company.name.label}}:</label>
                {{form.company.name}}
                <div style="padding:5px;">{{form.company.name.errors.as_text}}</div>
            </div>
            <div style="padding:5px;">
                <label id="{{form.company.website.id_for_label}}">{{form.company.website.label}}:</label>
                {{form.company.website}}
                <div style="padding:5px;">{{form.company.website.errors.as_text}}</div>
            </div>
            <div style="padding:5px;">
                <label id="{{form.company.logo.id_for_label}}">{{form.company.logo.label}}:</label>
                {{form.company.logo}}
                <div style="padding:5px;">{{form.company.logo.errors.as_text}}</div>
            </div>
        </div>
        <div style="width: 50%; float:left;">
            <div style="padding:5px;">
                <label id="{{form.company_address.street.id_for_label}}">{{form.company_address.street.label}}:</label>
                {{form.company_address.street}}
                <div style="padding:5px;">{{form.company_address.street.errors.as_text}}</div>
            </div>
            <div style="padding:5px;">
                <label id="{{form.company_address.city.id_for_label}}">{{form.company_address.city.label}}:</label>
                {{form.company_address.city}}
                <div style="padding:5px;">{{form.company_address.city.errors.as_text}}</div>
            </div>
            <div style="padding:5px;">
                <label id="{{form.company_address.country.id_for_label}}">{{form.company_address.country.label}}:</label>
                {{form.company_address.country}}
                <div style="padding:5px;">{{form.company_address.country.errors.as_text}}</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block prev-button %}
  {% blocktrans %}Education background{% endblocktrans %} <i class="left-arrowd"></i>
{% endblock %}


{% block next-button %}
  {% trans '<strong class="extra-bold">Save</strong>' %}<i class="right-arrowred"></i>
{% endblock %}