{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n widget_tweaks %}


{% block form_elements %}

    <div class="form-container">
        <div class="column-left">
            <label class="mandatory" id="{{form.company.name.id_for_label}}">
                {% trans 'Name of Company' %}
            </label>
            <div class="form-elements">
                {{form.company.name | attr:"placeholder:Company Name" | attr:"required" | attr:"autocomplete:off" }}
                {{form.company.name.errors.as_text}}
            </div>

            <!--<label class="mandatory">Name of Company</label>-->
            <!--<div class="form-elements">-->
                <!--<input type="text" name="" id="" value="" placeholder="Enter Company Name" />-->
            <!--</div>-->

            <!--<label class="mandatory">Company Email</label>-->
            <!--<div class="form-elements">-->
                <!--<input type="text" name="" id="" value="" placeholder="Email Id" />-->
            <!--</div>-->

            <label class="mandatory" id="{{form.recruiter_info.company_email.id_for_label}}">
                {{form.recruiter_info.company_email.label}}
            </label>
            <div class="form-elements">
                {{form.recruiter_info.company_email | attr:"placeholder:Official Email" | attr:"required" | attr:"autocomplete:off" }}
                {{form.recruiter_info.company_email.errors.as_text}}
            </div>

            <!--<label class="mandatory">Address</label>-->
            <!--<div class="form-elements address">-->
                <!--<textarea></textarea>-->
            <!--</div>-->

            <label class="mandatory" id="{{form.company_address.street.id_for_label}}">
                {% trans 'Address' %}
            </label>
            <div class="form-elements address">
                {{form.company_address.street | attr:"placeholder:Office Address" | attr:"required" | attr:"autocomplete:off" }}
                {{form.company_address.street.errors.as_text}}
            </div>
        </div>
        <div class="column-right">
            <!--<label class="mandatory">City</label>-->
            <!--<div class="form-elements">-->
                <!--<input type="text" name="" id="" value="" placeholder="Enter City" />-->
            <!--</div>-->

            <label class="mandatory" id="{{form.company_address.city.id_for_label}}">
                {{form.company_address.city.label}}
            </label>
            <div class="form-elements">
                {{form.company_address.city | attr:"placeholder:City" | attr:"required" | attr:"autocomplete:off" }}
                {{form.company_address.city.errors.as_text}}
            </div>

            <!--<label>Country</label>-->
            <!--<div class="form-elements">-->
                <!--<select>-->
                    <!--<option>Select Country</option>-->
                <!--</select>-->
            <!--</div>-->

            <label class="mandatory" id="{{form.company_address.country.id_for_label}}">
                {{form.company_address.country.label}}
            </label>
            <div class="form-elements">
                {{form.company_address.country | attr:"placeholder:Country" | attr:"required" | attr:"autocomplete:off" }}
                {{form.company_address.country.errors.as_text}}
            </div>

            <!--<label class="mandatory">Website</label>-->
            <!--<div class="form-elements">-->
                <!--<input type="text" name="" id="" value="" placeholder="http://" />-->
            <!--</div>-->

            <label class="mandatory" id="{{form.company.website.id_for_label}}">
                {{form.company.website.label}}
            </label>
            <div class="form-elements">
                {{form.company.website | attr:"placeholder:http://" | attr:"required" | attr:"autocomplete:off" }}
                {{form.company.website.errors.as_text}}
            </div>

            <label class="mandatory" id="{{form.company.logo.id_for_label}}">
                {{form.company.logo.label}}
            </label>
            <div class="form-elements">
                {{ form.company.logo }}
                {{form.company.logo.errors.as_text}}
            </div>

        </div>
    </div>

{% endblock %}

{% block prev-button %}
  {% blocktrans %}Personal Info{% endblocktrans %} <i class="left-arrowd"></i>
{% endblock %}


{% block next-button %}
  {% trans '<strong class="extra-bold">Save</strong>' %}<i class="right-arrowred"></i>
{% endblock %}