{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}


{% block registration_title %}
    <h1 class="heading32">
        {% trans "Registration" %}: <span class="txt-red">{% trans "Looking For" %}</span>
    </h1>
{% endblock %}

{% block form_elements %}
    <div id="config_details" style="">
        <div style="padding:5px;">
            <label id="{{form.expected_ctc.id_for_label}}">{{form.expected_ctc.label}}:</label>
            {{form.expected_ctc}}
            <div style="padding:5px;">{{form.expected_ctc.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.current_loc.id_for_label}}">{{form.current_loc.label}}:</label>
            {{form.current_loc}}
            <div style="padding:5px;">{{form.current_loc.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.relocate.id_for_label}}">{{form.relocate.label}}:</label>
            {{form.relocate}}
            <div style="padding:5px;">{{form.relocate.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.free_time.id_for_label}}">{{form.free_time.label}}:</label>
            {{form.free_time}}
            <div style="padding:5px;">{{form.free_time.errors.as_text}}</div>
        </div>
    </div>

{% endblock %}


{% block prev-button %}
  {% blocktrans %}Education background{% endblocktrans %} <i class="left-arrowd"></i>
{% endblock %}


{% block next-button %}
  {% trans 'Company <strong class="extra-bold"> info </strong>' %}<i class="right-arrowred"></i>
{% endblock %}

