{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}


{% block registration_title %}
    <h1 class="heading32">
        {% trans "Profile" %}: <span class="txt-red">{% trans "Seeker Detail" %}</span>
    </h1>
{% endblock %}

{% block form_elements %}
    <div id="config_details" style="">
        <div style="padding:5px;">
            <label id="{{form.seeker_info.profile_header.id_for_label}}">
                {{form.seeker_info.profile_header.label}}:
            </label>
            {{form.seeker_info.profile_header}}
            <div style="padding:5px;">{{form.seeker_info.profile_header.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.seeker_info.passport_number.id_for_label}}">
                {{form.seeker_info.passport_number.label}}:</label>
            {{form.seeker_info.passport_number}}
            <div style="padding:5px;">{{form.seeker_info.passport_number.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.seeker_info.skill_set.id_for_label}}">
                {{form.seeker_info.skill_set.label}}:</label>
            {{form.seeker_info.skill_set}}
            <div style="padding:5px;">{{form.seeker_info.skill_set.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.seeker_info.preferred_loc.id_for_label}}">
                {{form.seeker_info.preferred_loc.label}}:</label>
            {{form.seeker_info.preferred_loc}}
            <div style="padding:5px;">{{form.seeker_info.preferred_loc.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.seeker_info.job_change.id_for_label}}">{{form.seeker_info.job_change.label}}:</label>
            {{form.seeker_info.job_change}}
            <div style="padding:5px;">{{form.seeker_info.job_change.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.seeker_info.free_time.id_for_label}}">
                {{form.seeker_info.free_time.label}}:</label>
            {{form.seeker_info.free_time}}
            <div style="padding:5px;">{{form.seeker_info.free_time.errors.as_text}}</div>
        </div>
        <div style="padding:5px; clear:both;">
            <label id="{{form.seeker_info.experience_yrs.id_for_label}}"> Experience: </label>
            <div style="width:30%;">
                <div style="float:left; width:50%">{{form.seeker_info.experience_yrs}}</div>
                <div style="float:left; width:50%">{{form.seeker_info.experience_month}}</div>
            </div>
            <div style="padding:5px; clear:both;">
                {{form.seeker_info.experience_yrs.errors.as_text}}
                {{form.seeker_info.experience_month.errors.as_text}}
            </div>
        </div>
    </div>

{% endblock %}


{% block prev-button %}
  {% blocktrans %}Basic information{% endblocktrans %} <i class="left-arrowd"></i>
{% endblock %}


{% block next-button %}
  {% trans 'Education <strong class="extra-bold"> Details </strong>' %}<i class="right-arrowred"></i>
{% endblock %}

