{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}


{% block registration_title %}
    <h1 class="heading32">
        {% trans "Registration" %}: <span class="txt-red">{% trans "Education background" %}</span>
    </h1>
{% endblock %}

{% block form_elements %}
        {{form.errors}}
    <div id="config_details" style="">
        <div style="padding:5px;">
            <label id="{{form.profile_header.id_for_label}}">{{form.profile_header.label}}:</label>
            {{form.profile_header}}
            <div style="padding:5px;">{{form.profile_header.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.resume.id_for_label}}">{{form.resume.label}}:</label>
            {{form.resume}}
            <div style="padding:5px;">{{form.resume.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.qualification.id_for_label}}">{{form.qualification.label}}:</label>
            {{form.qualification}}
            <div style="padding:5px;">{{form.qualification.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.skill_set.id_for_label}}">{{form.skill_set.label}}:</label>
            {{form.skill_set}}
            <div style="padding:5px;">{{form.skill_set.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.experience_yrs.id_for_label}}">{{form.experience_yrs.label}}:</label>
            {{form.experience_yrs}}
            <div style="padding:5px;">{{form.experience_yrs.errors.as_text}}</div>
        </div>
        <div style="padding:5px;">
            <label id="{{form.experience_month.id_for_label}}">{{form.experience_month.label}}:</label>
            {{form.experience_month}}
            <div style="padding:5px;">{{form.experience_month.errors.as_text}}</div>
        </div>
    </div>

{% endblock %}


{% block prev-button %}
  {% blocktrans %}Basic information{% endblocktrans %} <i class="left-arrowd"></i>
{% endblock %}


{% block next-button %}
  {% trans 'Looking <strong class="extra-bold"> For </strong>' %}<i class="right-arrowred"></i>
{% endblock %}

