{% extends  'landing_base.html' %}
{% load i18n %}

{% block title %} {% trans 'Login' %} {% endblock %}

{% block content%}

    <section class="slider-area">
        <div class="promotion">
            <h2>{% trans 'Searching Jobs is now easy' %}</h2>
            <ul>
                <li>{% trans 'Fill up the simple form' %}</li>
                <li>{% trans 'Register with us' %}</li>
                <li>{% trans 'Find your suitable job' %}</li>
                <li><input type="button" name="upload_resume" id="upload_resume" value="" title="Upload Resume" /></li>
            </ul>
        </div>
    </section>
    <section class="login-area">

        <div class="search-area">
            <div class="tab-bar">
                <div id="job" class="tabs">{% trans 'Search Job' %}</div>
                <div id="candidate" class="tabs">{% trans 'Search Candidate' %}</div>
            </div>
            <div class="search-form job-content">
                <form action="{% url 'job-list' %}" method="POST">
                    {% csrf_token %}
                    {{search_form.search}}
                    {{search_form.location}}
                    {{search_form.experience}}
                    <input type="submit" value="Search" title="Search" class="search-btn" />
                </form>
            </div>
            <div class="search-form candidate-content">
                <form action="{% url 'seeker-list' %}" method="POST">
                    {% csrf_token %}
                    {{search_form.search}}
                    {{search_form.location}}
                    {{search_form.experience}}
                    <input type="submit" value="Search" title="Search" class="search-btn" />
                </form>
                <!--<input type="text" name="" id="" value="" placeholder="Enter Skills, Designation" />-->
                <!--<input type="text" name="" id="" value="" placeholder="Enter Location" />-->
                <!--<select>-->
                    <!--<option>Experience</option>-->
                <!--</select>-->
                <!--<input type="button" name="" id="" value="Search" title="Search" class="search-btn" />-->
            </div>
        </div>

        <div class="login-box">
            <div class="box-shadow"></div>
            <div class="box-content">
                <form action='.' method='POST'>
                    {% csrf_token %}
                    <div class="form">
                        <div class="row">
                            <label id="{{form.username.id_for_label}}">{{form.username.label}}:</label>
                            <!--<input type="text" name="" id="" value="" placeholder="Enter username" />-->
                            {{form.username}}
                            <div style="padding:5px;">{{form.username.errors.as_text}}</div>
                        </div>
                        <div class="row">
                            <label id="{{form.password.id_for_label}}">{{form.password.label}}:</label>
                            <!--<input type="password" name="" id="" value="" placeholder="Enter password" />-->
                            {{form.password}}
                            <div style="padding:5px;">{{form.password.errors.as_text}}</div>
                        </div>
                        <input type="submit" id="login" value="Login" title="Login" class="login-btn" />
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}