{% extends  'base.html' %}
{% load i18n %}

{% block title %}{% trans "Registration complete" %}{% endblock %}

{% block section_header %}
    <h2> {% trans "Registration Completed" %} </h2>
{% endblock %}

{% block content %}

    <section class="content-area edit-profile">
        <div class="form-container">
            <div class="success-message">
                <h1>{% trans "Thank you for your registration!" %}</h1>
                <span>&nbsp;</span>
                <h1>{% trans "You will receive an email with an activation link shortly." %}</h1>
            </div>
        </div>
    </section>

{% endblock %}
