{% extends  'base.html' %}
{% load i18n %}

{% block title %}Registration{% endblock %}

{% block content%}
    <div style="text-align: center; width: 50%; padding: 20px; margin-top: 5%; margin-left: 18%; border-radius: 5px; background-color: lightsteelblue;">
        <form action='.' method='POST'>
            {% csrf_token %}
            <div style="padding:5px;">{{form.user_role.errors.as_text}}</div>
            <div>
                <!--<div style="padding:5px;">-->
                    <!--<label id="{{form.username.id_for_label}}">{{form.username.label}}:</label>-->
                    <!--{{form.username}}-->
                    <!--<div style="padding:5px;">{{form.username.errors.as_text}}</div>-->
                <!--</div>-->
                <div style="padding:5px;">
                    <label id="{{form.email.id_for_label}}">{{form.email.label}}:</label>
                    {{form.email}}
                    <div style="padding:5px;">{{form.email.errors.as_text}}</div>
                </div>
                <div style="padding:5px;">
                    <label id="{{form.password.id_for_label}}">{{form.password1.label}}:</label>
                    {{form.password1}}
                    <div style="padding:5px;">{{form.password1.errors.as_text}}</div>
                </div>
                <div style="padding:5px;">
                    <label id="{{form.password2.id_for_label}}">{{form.password2.label}}:</label>
                    {{form.password2}}
                    <div style="padding:5px;">{{form.password2.errors.as_text}}</div>
                </div>
                {{form.user_role}}
            </div>
            <div style="width:100%;">
                <span style="float:right">
                    <input type='submit' value="Register" />
                    <input type='button' value="cancel" onclick="window.location.href='{% url 'home' %}';"/>
                </span>
            </div>
        </form>
    </div>
{% endblock %}