{% extends "accounts/profile_edit_wizard/base.html" %}
{% load i18n %}

{% block title %}Registration{% endblock %}

{% block content%}

    <div class="form-layout single">
        <form action='.' method='POST' id="registration" name="registration">
            {% csrf_token %}
            {{ wizard.management_form }}

            <div class="row">
                <label id="{{form.email.id_for_label}}">{{form.email.label}}:</label>
                <div class="form-elements">
                    {{form.email}}
                    <!--<input type="text" name="" id="" value="" placeholder="Enter desired username" />-->
                    <div>{{form.email.errors.as_text}}</div>
                </div>
            </div>

            <div class="row">
                <label id="{{form.password1.id_for_label}}">{{form.password1.label}}:</label>
                <div class="form-elements">
                    {{form.password1}}
                    <!--<input type="text" name="" id="" value="" placeholder="Enter desired username" />-->
                    <div>{{form.password1.errors.as_text}}</div>
                </div>
            </div>

            <div class="row">
                <label id="{{form.password2.id_for_label}}">{{form.password2.label}}:</label>
                <div class="form-elements">
                    {{form.password2}}
                    <!--<input type="text" name="" id="" value="" placeholder="Enter desired username" />-->
                    <div>{{form.password2.errors.as_text}}</div>
                </div>
            </div>

            <div class="row">
                <label id="{{form.gender.id_for_label}}">{{form.gender.label}}:</label>
                <div class="form-elements">
                    {{form.gender}}
                    <!--<input type="text" name="" id="" value="" placeholder="Enter desired username" />-->
                    <div>{{form.gender.errors.as_text}}</div>
                </div>
            </div>
            {{form.user_role}}

            <div class="button-container">
                <input type="button" name="register" id="register_id"
                       value="Submit" onClick="$('#registration').submit();"/>

                <input type="button" name="cancel" id="cancel_id"
                       value="Cancel" onClick="window.location.href='{% url 'auth_login' %}'" />
            </div>
        </form>
    </div>
{% endblock %}