<html>
    <head>
        {% block title%}{% endblock %}
        {% block css %}
        {% endblock %}
    </head>
    <body style="padding:0; margin:0">
        <div id="container" style="width: 70%; border: 1px solid red; border-radius: 5px; padding: 10px; margin:50px;">

            <!-- Header -->
            {% include  'navigation/header.html' %}
            <div style="padding: 20px 10px;">
                {% block content%}
                {% endblock %}
            </div>

            <!-- Footer-->
            {% include  'navigation/footer.html' %}
        </div>
    </body>
    {% block js %}
    {% endblock %}
</html>
