<!DOCTYPE html/>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title%} Welcome {% endblock %}</title>

        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
        {% block css %}
        {% endblock %}
    </head>

    <body>
        <div class="main-container">
            <div class="middle-container">
                {% block header %}
                    {% include  'navigation/header.html' %}
                {% endblock %}
                <div class="body-container">
                    <div class="page-title">
                        {% block section_header %}
                            <h2>Registration</h2>
                        {% endblock %}
                    </div>

                    <section class="content-area">
                        {% block content%}
                        {% endblock %}
                    </section>

                </div>
            </div>
            <div class="push"></div>
        </div>
        {% include  'navigation/footer.html' %}
    </body>
    <script src="{{ STATIC_URL }}script/jquery-1.11.1.min.js" language="javascript" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}script/script.js" language="javascript" type="text/javascript"></script>
    {% block js %}
    <script>
        function apply_for_job(url){
            $.ajax({
                url: url
            }).done(function(response) {
                alert(response.url);
                window.location.href = response.url;
            });
        }
    </script>
    {% endblock %}
</html>
