{% extends 'landing_base.html' %}
{%load i18n %}

{% block title%} {{ flatpage.title }}{% endblock %}

{% block content%}
    <section class="slider-area">
        <div class="promotion">
            <h2>{% trans 'Searching Jobs is now easy' %}</h2>
            <ul>
                <li>{% trans 'Fill up the simple form' %}</li>
                <li>{% trans 'Register with us' %}</li>
                <li>{% trans 'Find your suitable job' %}</li>
                <li>
                    <input type="button" name="upload_resume" id="upload_resume"
                           onclick="window.location='{% url 'upload-resume' %}'" title="Upload Resume" />
                </li>
            </ul>
        </div>
    </section>

    <section class="login-area">
        {{ flatpage.content }}
    </section>

{% endblock %}