{% extends  'base.html' %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content%}

    <span class="top-bar">
        <a href="{% url 'job-list' %}" style="text-decoration: none; font-size:18px;"> {% trans 'Job List' %}</a>
    </span>
    <span class="top-bar">
        <a href="{% url 'upload-resume' %}" style="text-decoration: none; font-size:18px;">
            {% trans 'Upload Resume' %} </a>&nbsp;&nbsp;&nbsp;
    </span>
    <span style="float: left; font-size: 18px;" class="top-bar">{% trans 'Lastest Jobs' %}</span>
    <section class="section-box purple">
        <div class="inner candidate-list">
            {% if  lastest_jobs %}
                {% for job in lastest_jobs %}
                    {% include 'jobs/job_block.html' with job=job is_seeker=False %}
                {% endfor %}
            {% else %}
                <p><b> No record found </b></p>
            {% endif %}
        </div>
    </section>

    <span class="top-bar">
        <!--<a href="{% url 'seeker-list' %}" style="text-decoration: none; font-size:18px;"> Seeker List </a>-->
    </span>
    <span style="float: left; font-size: 18px;" class="top-bar">{% trans 'Applied Jobs' %}</span>
    <section class="section-box green">
        <div class="inner candidate-list">
        {% if applied_jobs %}
            {% for favorite in applied_jobs %}
                <div class="row">
                    {% for job in favorite.job.all %}
                        {% include 'jobs/job_block.html' with job=job is_seeker=False %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            No record found
        {% endif %}
        </div>
    </section>
{% endblock %}