{% extends  'base.html' %}
{% load i18n %}

{% block title %}Job Detail{% endblock %}

{% block content%}

<span class="top-bar actions">
    <a href="{% url 'job-list' %}" >Back to job list</a>
    {% if is_recruiter %}
        <div class="button-container">
            <input type="button" onclick="update_job_status('{% url 'job-close' job.job_code %}')"
                   value="Close this Position" />
        </div>
    {% else %}
        {% if is_seeker and not job.status %}
            <div class="button-container">
                <input type="button" onclick="update_job_status('{% url 'apply-for-job' job.job_code %}')"
                       value="Apply this Position" />
            </div>
        {% endif %}
    {% endif %}

    {% if job.status %}
        <div class="button-container">
            <input type="button" disabled="disabled" value="{{ job.status }}" class="">
        </div>
    {% endif %}
</span>

<section class="section-box green">
    <div class="inner candidate-list job-details">
        <div class="row">
            <div class="data">
                <h1>
                    {% ifequal request.user job.recruiter.user %}
                        <a href="{% url 'job-edition' job.job_code %}" title="Edit job">{{job.job_title|title}}</a>
                    {% else %}
                        {{job.job_title|title}}
                    {% endifequal %}
                    <label class="data-row bold"><h3>{{job.recruiter.company.name|title}}</h3></label>
                </h1>
                <div class="sub-row">
                    <label class="form-label">Designation:</label>
                    <span class="form-label-value">{{job.designation}}</span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Opening Date:</label>
                    <span class="form-label-value">{{job.opening_date}}</span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Number of Position:</label>
                    <span class="form-label-value">{{job.number_of_positions}}</span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Country:</label>
                    <span class="form-label-value">{{job.country}}</span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Location:</label>
                    <span class="form-label-value">{{job.location_name}}</span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Experience:</label>
                    <span class="form-label-value">{{job.min_experience}} - {{job.max_experience}}</span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Key Skills:</label>
                    <span class="form-label-value">
                        {{job.skill_set}}
                    </span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Roles & Responsibilities:</label>
                    <span class="form-label-value">
                        {{job.roles_and_responsibilities}}
                    </span>
                </div>
                <div class="sub-row">
                    <label class="form-label">Job Type:</label>
                    <span class="form-label-value">{{job.job_type}}</span>
                </div>
            </div>
        </div>
        {% if is_recruiter %}
            <div class="applying-candidates">
                <div class="pointer-border"></div>
                <div class="pointer"></div>
                <div class="header">
                    {% if seekers %}
                        <h1 style="min-height: 22px;">Candidates applied for this job</h1>
                    {% else %}
                        <h1 style="min-height: 22px;">Candidates not applied for this job yet !</h1>
                    {% endif %}
                </div>
                <div class="section-box">
                    {% for seeker, status in seekers %}
                        <div class="row">
                            <p>
                                <a href="{% url 'seeker-details' seeker.id %}">{{ seeker.user.get_full_name | title }}</a> -
                                <label>
                                    <span class="bold">{{ seeker.designation }}</span> ({{seeker.experience_yrs}} Yrs.) {{ seeker.current_loc }}
                                </label>
                            </p><br/>
                            <div class="clear"></div>
                            <div>
                                <label class="data-row"><span class="bold">{% trans 'Known as' %}:</span>
                                    <span>{{ seeker.profile_header }}</span>
                                </label>
                            </div>
                            <div>
                                <label class="data-row"><span class="bold">{% trans 'Contact On' %}:</span>
                                    <span>{{ seeker.mobile_no }}</span>
                                </label>
                            </div>
                            <div>
                                <label class="data-row"><span class="bold">{% trans 'Updated Resume:' %}</span></label>
                                <span>
                                    <a href="{% url 'download_uuid_file' profile.file_uuid %}">
                                        {{ seeker.get_resume }}
                                    </a>
                                </span>
                            </div>
                            {% ifequal status 'AP' %}
                            <div class="button-container">
                                <input type="button"
                                       onclick="update_status('AC', '{{ job.job_code }}', '{{ seeker.id }}');"
                                       value="Fit for Job" class="fit" />

                                <input type="button"
                                       onclick="update_status('NF', '{{ job.job_code }}', '{{ seeker.id }}');"
                                       value="Not Fit for Job" class="not-fit" />
                            </div>
                            {% else %}
                                <input type="button" disabled="disabled" value="{{ status }}" class="view-btn2">
                            {% endifequal %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}