{% load i18n %}

    <div class="row">
        <div class="data">
            <h1>
                <a href="{% url 'job-detail' job.job_code %}" title="Click to view job detail">{{job.job_title|title}}</a>
                <span>({{job.min_experience}} - {{job.max_experience}}) Yrs.</span>
                <label class="data-row"><span class="bold">{{job.designation}} -</span>
                    <span>{{job.location_name}}</span></label></h1>
            <label class="data-row"><span class="bold">Key Skills:</span>
                <span>{{job.skill_set}}</span>
            </label>
            <label class="data-row"><span class="bold">Roles & Responsibilities:</span>
                <span>{{job.roles_and_responsibilities}}</span>
            </label>
            <label class="data-row"><span class="bold">Job Type:</span><span>{{job.job_type}}</span></label>
        </div>
        {% if is_seeker %}
            {% if not job.applied %}
                <a href="javascript:void(0);"
                   onclick="update_job_status('{% url 'apply-for-job' job.job_code %}')" class="view-btn">Apply for</a>
            {% else %}
                <input type="button" disabled="disabled" value="{{ job.status }}" class="view-btn2">
            {%endif%}
        {% else %}
            {% if is_recruiter %}
                <a href="javascript:void(0);" onclick="update_job_status('{% url 'job-close' job.job_code %}')"
                   class="view-btn">Close Position</a>
            {% endif %}
        {% endif %}
    </div>
