{% load i18n %}
<div>
    <div> Job Details </div>
    <div>Job Title: <a href="{% url 'job-detail' job.job_code %}">{{job.job_title}}</a> </div>
    <div>designation: {{job.designation}}</div>
    <div>Looking for skill set: {{job.skill_set}}</div>
    <div>Your roles and responsibilities are: <br\>{{job.roles_and_responsibilities}}</div>
    <div>Job type is :{{job.job_type}}</div>
    <div>
        {% if is_seeker %}
            <input type='button' value="Apply for" onclick="{% url 'apply-for-job' job.job_code %}"/>
        {% else %}
            {% if is_recruiter and seeker_id %}
                <input type='button' value="Not Fit" onclick="{% url 'job-status' 'NF' job.job_code seeker_id %}"/>
                <input type='button' value="On Hold" onclick="{% url 'job-status' 'OH' job.job_code seeker_id %}"/>
                <input type='button' value="Accept" onclick="{% url 'job-status' 'AC' job.job_code seeker_id %}"/>
            {% endif %}
        {% endif %}
    </div>
</div>
