{% extends  'base.html' %}
{% load i18n widget_tweaks %}

{% block title %}Job Creation Form{% endblock %}

{% block section_header %}
    <h2>{% trans 'Job Detail Form' %}</h2>
{% endblock %}

{% block content%}
    <form action="{{url}}" method='POST'>
        {% csrf_token %}
        {{form.errors}}
        <div class="form-layout single">
            <div class="row">
                <label class="mandatory">{{ form.job_title.label|title }}</label>
                <div class="form-elements">
                    {{ form.job_title | attr:"placeholder: Enter Job title" | attr:"required"}}
                </div>
                <span class="form_error">{{ form.job_title.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.designation.label | title }}</label>
                <div class="form-elements">
                    {{ form.designation | attr:"placeholder: Required Designation" | attr:"required" }}
                </div>
                <span class="form_error">{{ form.designation.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="">{{ form.closing_date.label | title }}</label>
                <div class="form-elements">
                    {{ form.closing_date | attr:"type:date" | attr:"placeholder: MM/DD/YYYY" }}
                </div>
                <span class="form_error">{{ form.closing_date.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.number_of_positions.label | title }}</label>
                <div class="form-elements">
                    {{ form.number_of_positions }}
                </div>
                <span class="form_error">{{ form.number_of_positions.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.job_opening_status.label | title }}</label>
                <div class="form-elements">
                    {{ form.job_opening_status }}
                </div>
                <span class="form_error">{{ form.job_opening_status.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.location_name.label | title }}</label>
                <div class="form-elements">
                    {{ form.location_name | attr:"placeholder: Location" | attr:"required" }}
                </div>
                <span class="form_error">{{ form.location_name.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.country.label | title }}</label>
                <div class="form-elements">
                    {{ form.country | attr:"placeholder: Country" | attr:"required" }}
                </div>
                <span class="form_error">{{ form.country.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.max_experience.label | title }}</label>
                <div class="form-elements">
                    {{ form.max_experience | attr:"placeholder: max experience" | attr:"required"  }}
                </div>
                <span class="form_error">{{ form.max_experience.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.min_experience.label | title }}</label>
                <div class="form-elements">
                    {{ form.min_experience | attr:"placeholder: min experience" | attr:"required" }}
                </div>
                <span class="form_error">{{ form.min_experience.errors.as_text }}</span>
            </div>

            <div class="row">
                <label class="mandatory">{{ form.job_type.label | title }}</label>
                <div class="form-elements">
                    {{ form.job_type }}
                </div>
                <span class="form_error">{{ form.job_type.errors.as_text }}</span>
            </div>

            <div class="row job_form">
                <label class="mandatory">{{ form.skill_set.label | title }}</label>
                <div class="form-elements address">
                    {{ form.skill_set | attr:"placeholder: Skill set required...." | attr:"required" }}
                </div>
                <span class="form_error">{{ form.skill_set.errors.as_text }}</span>
            </div>

            <div class="row job_form">
                <label class="mandatory">{{ form.roles_and_responsibilities.label | title }}</label>
                <div class="form-elements address">
                    {{ form.roles_and_responsibilities | attr:"placeholder: Roles and Responsibilities" | attr:"required" }}
                </div>
                <span class="form_error">{{ form.roles_and_responsibilities.errors.as_text }}</span>
            </div>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="button-container">
                <button type='submit' value="Submit"> {% trans 'Submit' %}</button>
                <input type='button' value="cancel" onclick="window.location.href='{% url 'home' %}';"/>
            </div>
        </div>
    </form>
{% endblock %}