{% extends  'base.html' %}
{% load i18n %}

{% block title %}Job Creation Form{% endblock %}

{% block content%}

    <form action="{% url 'job-list' %}" method="POST">
        {% include 'navigation/search_form.html' with form=form %}
    </form>


    <section class="section-box green">
        <div class="inner candidate-list">
            {% for job in jobs %}
                {% include 'jobs/job_block.html' with job=job is_seeker=is_seeker %}
            {% endfor %}
        </div>
    </section>

{% endblock %}