{% extends  'base.html' %}
{% load i18n %}

{% block title %}Job List{% endblock %}

{% block content%}

    <form action="{% url 'job-list' %}" method="POST">
        {% include 'navigation/search_form.html' with form=form %}
    </form>

    <span class="top-bar actions">
        {% if is_recruiter %}
            <div class="button-container">
                <input type="button" value="Create New Job" onclick="window.location='{% url 'job-create' %}'" />
            </div>
        {% endif %}
    </span>

    <section class="section-box green">
        <div class="inner candidate-list">
            {% if  jobs %}
                {% for job in jobs %}
                    {% include 'jobs/job_block.html' with job=job is_seeker=is_seeker %}
                {% endfor %}
            {% else %}
                <p><b> No record found </b></p>
            {% endif %}
        </div>
    </section>

    <div class="pagination">
        <span class="step-links">
            {% if jobs.has_previous %}
                <a href="?page={{ jobs.previous_page_number }}{{search_params}}" class="pagination-view-btn">
                    previous
                </a>
            {% endif %}

            <span class="current">
                Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
            </span>

            {% if jobs.has_next %}
                <a href="?page={{ jobs.next_page_number }}{{search_params}}" class="pagination-view-btn">
                    next
                </a>
            {% endif %}
        </span>
    </div>
{% endblock %}